[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scipy = "*"
psycopg2-binary = ">=2.7,<3.0"
celery = ">=4.3"
django-celery-results = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
pytz = "*"
Django = "<3.0,>=2.2.10"

[packages.6c72bad]
path = "/home/mike/Projects/PyGEST"
