<!DOCTYPE html>

{% load static %}
{% load humanize %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="apple-touch-icon" href="{% static mfs_icon_256.png %}">
    <link rel="icon" href="{% static mfs_icon_256.png %}" sizes="256x256">
    <link rel="icon" href="{% static mfs_icon_032.png %}" sizes="32x32">
    <link rel="icon" href="{% static mfs_icon_032.ico %}" sizes="32x32">
    <link rel="stylesheet" href="{% static 'gedata/css/normalize.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'gedata/css/main.css' %}">
    <script src="https://kit.fontawesome.com/05234e97de.js"></script>
</head>
<body onload="initUi()">

<!-- ---------- ========== Header ========== ------------>

<header>

{% block header %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'gedata:index' %}">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'gedata:index' %}">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'gedata:results' %}">Results</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'gedata:filter' %}">Filter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'gedata:compare' %}">Comparisons</a>
            </li>
            </ul>
        </div>
    </nav>
{% endblock %}

</header>

<!-- ---------- ========== Main Body ========== ------------>

<main role="main" class="flex-shrink-0">
<div class="container">

{% block content %}
{% endblock %}

</div>
</main>

<!-- ---------- ========== Footer ========== ------------>

<footer class="footer mt-auto py-3 fixed-bottom">
<div class="container">

{% block footer %}
    <nav class="navbar" id="bottom_status_bar">
        <div id="static_progress_bar" style="display: block;">
            <span id="n_results">{{ latest_result_summary.num_actuals|intcomma }} actual,
                {{ latest_result_summary.num_shuffles|add:latest_result_summary.num_distshuffles|add:latest_result_summary.num_edgeshuffles|intcomma }} permutations,
                {{ latest_result_summary.num_results|intcomma }} total results available, last refreshed {{ latest_result_summary.summary_date }}.</span> &nbsp;
            <button id="progress-bar-redo-trigger" class="btn" onclick="startCompleteResultMining();"><i class="fas fa-redo"></i></button>
        </div>
        <div id="celery_progress_bar" class="progress-wrapper" style="display: none;">
            <!--<span id="results_ok_check"><i class="fas fa-check"></i></span>-->
            <div id="progress-bar-message"></div>
            <div id="progress-bar" class="progress-bar" style="background-color: blue; width: 0; margin-top: 1em;">&nbsp;</div>
            <div id="progress-bar-peak-total" style="display: none;">0</div>
        </div>
    </nav>
{% endblock %}

</div>
</footer>

<!-- ---------- ========== Scripts and code and such ========== ------------>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'gedata/js/vendor/modernizr-3.7.1.min.js' %}"></script>
<script src="{% static 'gedata/js/main.js' %}"></script>
<script src="{% static 'gedata/js/plugins.js' %}"></script>
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
<script>
    function startCompleteResultMining() {
        document.getElementById("celery_progress_bar").style.display = "block";
        document.getElementById("static_progress_bar").style.display = "none";
        let refreshUrl = "{% url 'gedata:refresh' job_name='collect_jobs' %}";
        let request = new XMLHttpRequest();
        request.onreadystatechange = function() {
            if (request.readyState === 4 && request.status === 200) {
                let responseJsonObj = JSON.parse(request.responseText);
                console.log("Got id: " + responseJsonObj.task_id);
                let progressUrl = "/celery-progress/" + responseJsonObj.task_id + "/";
                CeleryProgressBar.initProgressBar(progressUrl, {
                    onSuccess: stopCeleryProcessPolling
                });
            }
        };
        request.open("GET", refreshUrl, true);
        request.send();
        console.log("Beginning celery polling.");
    }
    function stopCeleryProcessPolling() {
        document.getElementById("progress-bar").style.backgroundColor = '#76ce60';
        let peak = document.getElementById("progress-bar-peak-total").innerHTML.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        document.getElementById("progress-bar-message").innerHTML = "Found " + peak + " results.";
        document.getElementById("celery_progress_bar").style.display = "none";
        document.getElementById("static_progress_bar").style.display = "block";
    }
    function buildPlot(image_id, select_id) {
        let select_element = document.getElementById(select_id);
        let image_element = document.getElementById(image_id);
        if (image_element.innerHTML.includes("img src")) {
            // Immediately set the image blank, just to give feedback we registered the click.
            // But don't mess with active spinners (checked via "img src" substring
            loadPlot(image_element, "/static/gedata/empty.png");
        }
        let plot_handle = select_element.options[select_element.selectedIndex].value;
        console.log("Checking for " + plot_handle + " image for " + image_id + ".");
        let img_file = "train_test_" + plot_handle.toLowerCase() + ".png";
        let img_url = "/static/gedata/plots/" + img_file;

        // The first ajax request determines whether our desired plot already exists or not.
        let png_http = new XMLHttpRequest();
        png_http.onreadystatechange = function() {
            if (png_http.readyState === 4) {
                if (png_http.status === 200) {
                    console.log(plot_handle + " exists, loading it rather than rebuilding.");
                    loadPlot(image_element, img_url);
                }
                if (png_http.status === 404) {
                    console.log(plot_handle + " does not exist. Building it from scratch.");
                    let refreshUrl = "{% url 'gedata:refresh' job_name=12345 %}".replace(/12345/, img_file);

                    // The second ajax request initiates image creation and starts the spinner.
                    let request = new XMLHttpRequest();
                    request.onreadystatechange = function() {
                        if (request.readyState === 4 && request.status === 200) {
                            let responseJsonObj = JSON.parse(this.responseText);
                            if (responseJsonObj.task_id !== "None") {
                                console.log("Got id: " + responseJsonObj.task_id);
                                let progressUrl = "/celery-progress/" + responseJsonObj.task_id + "/";
                                CelerySpinner.initSpinner(progressUrl, {
                                    onSuccess: loadPlot,
                                    spinnerId: image_id,
                                    dataForLater: img_url
                                });
                            }
                        }
                    };
                    request.open("GET", refreshUrl, true);
                    request.send();
                    console.log("Beginning to build plot for " + plot_handle + " at " + image_id);
                }
            }
        };
        png_http.open('HEAD', img_url, true);
        png_http.send();
    }
    function loadPlot(image_element, image_url) {
        let w = Math.round(document.documentElement.clientWidth * 0.45);
        image_element.style.color = '#ffffff';
        let html_text = "<a href=\"" + image_url + "\">";
        html_text += "<img src=\"" + image_url + "\" width=\"" + w + "\">";
        html_text += "</a>";
        image_element.innerHTML = html_text;

        // Also update gene ranking information, if available.
        if (!image_url.endsWith('empty.png')) {
            append_probes_from_file(image_element.id.replace('image', 'go'), image_url.replace('png', 'html'));
        }
    }
</script>

</body>
</html>