{% extends 'gedata/base.html' %}

{% load humanize %}

{% block title %}Result set comparisons{% endblock %}

{% block content %}

    {% if submitted %}
        <p>POST data received.</p>
    {% else %}
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.source.errors }}
            {{ form.source }}
            <div class="left_side">
                <table>
                    <tr>
                        <td><div>{{ form.left_parcel.label_tag }}</div></td>
                        <td><div>{{ form.left_split.label_tag }}</div></td>
                        <td><div>{{ form.left_comp.label_tag }}</div></td>
                        <td><div>{{ form.left_train_mask.label_tag }}</div></td>
                        <td><div>{{ form.left_algo.label_tag }}</div></td>
                        <td><div>{{ form.left_threshold.label_tag }}</div></td>
                    </tr>
                    <tr>
                        <td><div>{{ form.left_parcel }}<br />{{ form.left_parcel.errors }}</div></td>
                        <td><div>{{ form.left_split }}<br />{{ form.left_split.errors }}</div></td>
                        <td><div>{{ form.left_comp }}<br />{{ form.left_comp.errors }}</div></td>
                        <td><div>{{ form.left_train_mask }}<br />{{ form.left_train_mask.errors }}</div></td>
                        <td><div>{{ form.left_algo }}<br />{{ form.left_algo.errors }}</div></td>
                        <td><div>{{ form.left_threshold }}<br />{{ form.left_algo.errors }}</div></td>
                    </tr>
                </table>
            </div>
            <div class="right_side">
                <table>
                    <tr>
                        <td><div>{{ form.right_parcel.label_tag }}</div></td>
                        <td><div>{{ form.right_split.label_tag }}</div></td>
                        <td><div>{{ form.right_comp.label_tag }}</div></td>
                        <td><div>{{ form.right_train_mask.label_tag }}</div></td>
                        <td><div>{{ form.right_algo.label_tag }}</div></td>
                        <td><div>{{ form.right_threshold.label_tag }}</div></td>
                    </tr>
                    <tr>
                        <td><div>{{ form.right_parcel }}<br />{{ form.right_parcel.errors }}</div></td>
                        <td><div>{{ form.right_split }}<br />{{ form.right_split.errors }}</div></td>
                        <td><div>{{ form.right_comp }}<br />{{ form.right_comp.errors }}</div></td>
                        <td><div>{{ form.right_train_mask }}<br />{{ form.right_train_mask.errors }}</div></td>
                        <td><div>{{ form.right_algo }}<br />{{ form.right_algo.errors }}</div></td>
                        <td><div>{{ form.right_threshold }}<br />{{ form.right_algo.errors }}</div></td>
                    </tr>
                </table>
            </div>
            <div style="text-align: center;">
                <!-- Do not allow actual submission, everything we do is javascript, ajax, and celery. Reloading the page may start things over. -->
                <span id="left_set_string" style="display: none;">empty</span>
                <input type="button" value="Compare" onclick="assessMetric('left_image', 'left_set_string', 'mantel'); assessMetric('right_image', 'right_set_string', 'mantel');">
                <span id="right_set_string" style="display: none;">empty</span>
            </div>
        </form>

        <div class="left_side">
            <div id="left_image"><!-- replaced onload --><img src="{{ left_image.url }}" alt="{{ left_image.description }}"></div>
            <div id="left_caption" class="descriptor"><!-- replaced onload --></div>
            <div id="left_descriptor" class="descriptor"><!-- replaced onload --></div>
            <div id="left_go" class="descriptor"><!-- replaced onload --></div>
        </div>
        <div class="right_side">
            <div id="right_image"><!-- replaced onload --><img src="{{ right_image.url }}" alt="{{ right_image.description }}"></div>
            <div id="right_caption" class="descriptor"><!-- replaced onload --></div>
            <div id="right_descriptor" class="descriptor"><!-- replaced onload --></div>
            <div id="right_go" class="descriptor"><!-- replaced onload --></div>
        </div>
        <div class="left_side">
            <div id="left_perf_image"><!-- replaced onload --></div>
            <div id="left_perf_descriptor" class="descriptor"><!-- replaced onload --></div>
        </div>
        <div class="right_side">
            <div id="right_perf_image"><!-- replaced onload --></div>
            <div id="right_perf_descriptor" class="descriptor"><!-- replaced onload --></div>
        </div>

    {% endif %}

    <p><!-- just for a bit of space --></p>

{% endblock %}
