{% extends 'gedata/base.html' %}

{% load humanize %}

{% block title %}Result set {{ metric }}{% endblock %}

{% block content %}

    {% if submitted %}
        <p>POST data received.</p>
    {% else %}
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.source.errors }}
            {{ form.source }}
            <div class="center_side">
                <table>
                    <tr>
                        <td><div>{{ form.parcel.label_tag }}</div></td>
                        <td><div>{{ form.split.label_tag }}</div></td>
                        <td><div>{{ form.comp.label_tag }}</div></td>
                        <td><div>{{ form.train_mask.label_tag }}</div></td>
                        <td><div>{{ form.algo.label_tag }}</div></td>
                        <td><div>{{ form.threshold.label_tag }}</div></td>
                    </tr>
                    <tr>
                        <td><div>{{ form.parcel }}<br />{{ form.parcel.errors }}</div></td>
                        <td><div>{{ form.split }}<br />{{ form.split.errors }}</div></td>
                        <td><div>{{ form.comp }}<br />{{ form.comp.errors }}</div></td>
                        <td><div>{{ form.train_mask }}<br />{{ form.train_mask.errors }}</div></td>
                        <td><div>{{ form.algo }}<br />{{ form.algo.errors }}</div></td>
                        <td><div>{{ form.threshold }}<br />{{ form.threshold.errors }}</div></td>
                    </tr>
                </table>
            </div>
            <div style="text-align: center;">
                <!-- Do not allow actual submission, everything we do is javascript, ajax, and celery. Reloading the page may start things over. -->
                <span id="center_set_string" style="display: none;">empty</span>
                <input type="button" value="Go" onclick="assessMetric('image', 'center_set_string', '{{ metric }}');">
            </div>
        </form>

        <div class="center_side">
            <div id="image"><!-- replaced onload --><img src="{{ image.url }}" alt="{{ image.description }}"></div>
            <div id="caption" class="descriptor"><!-- replaced onload --></div>
            <div id="descriptor" class="descriptor"><!-- replaced onload --></div>
            <div id="go" class="descriptor"><!-- replaced onload --></div>
        </div>

    {% endif %}

    <p><!-- just for a bit of space --></p>

{% endblock %}
